*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}
.body{
    background-color:#f3eae3;
}

.tar-produc{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    align-content: center;
    padding-top: 100px;
    background-color:#f3eae3;
}
.img-produc{
    display:flex;
    background-image: url('./images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 600px;
    border-radius: 6px;
}

.descripcion-produc{
    display:flex;
    align-content: flex-start;
    background-color:#ffffff;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 20px;
}

.categoria{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color:#b0b0bb;
    justify-content: flex-start;
}
.titulo-producto{
    font-size: 55px;
    font-weight:bold;
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
}

.descripcion-img{
    font-size: 25px;
    padding-left: 20px;
    color: #80828e;
}
.precios{
    display: flex;
    align-items: center;
}

.precio-rebaja{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: 900;
    color:#3d8168;
}

.precio-normal{
    text-decoration:line-through;
    font-family: 'Fraunces', serif;
    padding-left: 10px;
    color: #80828e;
}

.aniadir{
    display: inline-flex;
    height: 50px;
    width: 200px;
    background-color:#3d8168;
    color: white;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add{
    padding-left: 10px;
    font-size: 18px;
    border-bottom: none;
}
.aniadir:hover{
    cursor: pointer;
    background-color: #1a4031;
}

@media(max-width:860px)
{
    .img-produc{
    width: 300px;
    height: 450px;
    }
    .descripcion-produc{
    width: 300px;
    height: 450px;
    padding: 20px;
    }
    .categoria{
        font-size: 20px;
    }
    .titulo-producto{
    font-size: 45px;
    padding-left: 15px;
    }
    .descripcion-img{
        font-size: 20px;
        padding-left: 15px;
    }
    .precio-rebaja{
        font-size: 25px;
    }
    .precio-normal{
        font-size: 14px;
    }
}

    @media (max-width:630px) 
    {
        .tar-produc{
            padding-top: 5px;
            flex-direction: column;
            background-color:#f3eae3;
        }
        .img-produc{
            background-image: url("./images/image-product-mobile.jpg");
            flex-direction: column;
            width: 90%;
            height: 200px;
        }
        .descripcion-produc{
            width: 90%;
            height: 200px;
        }
        .categoria{
            font-size: 10px;
        }
        .titulo-producto{
        font-size: 25px;
        }
        .descripcion-img{
        font-size: 15px;
        }
        .aniadir{
            height: 150px;
        }
          
    }

